@{
    ViewData["Title"] = "Additional Information";
}

<section class="bg-success" style="height:90vh">
    <h1 class="main-title">@ViewData["Title"]</h1>
    <div class="container">                
        <ul class="list-addninfo">
            <li>@ViewData["Message"]</li>
            <li>ASP.NET Core MVC</li>
            <li>Bootstrap</li>
            <li>JQuery</li>
            <li>Knockout.js</li>                
        </ul>       
    </div>        
</section>