@{
    ViewData["Title"] = "Additional Information";
}
<section class="bg-success" style="height:90vh">
    <div class="container">
        <h1 class="main-title">Additional Information</h1>
        <p>Mike Bradley 2018 &copy;</p>
    </div>        
</section>

